taxmanfk/src/main/webapp/resources/schema/vatue5schemat.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/" xmlns:kue="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyUE/" xmlns:tns="http://crd.gov.pl/wzor/2020/07/03/9690/" targetNamespace="http://crd.gov.pl/wzor/2020/07/03/9690/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/StrukturyDanych_v6-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyUE/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2013/05/23/eD/KodyUE/KodyKrajowUE_v2-0E.xsd"/>
	<!--Informacja jest składana wyłącznie za pomocą środków komunikacji elektronicznej.-->
	<!-- -->
	<!--Przez urząd skarbowy, do którego jest adresowana informacja, rozumie się urząd skarbowy, przy pomocy którego właściwy dla podatnika naczelnik urzędu skarbowego wykonuje swoje zadania.-->
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek deklaracji</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="VAT-UE (5)"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0E"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="5"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Rok">
				<xsd:simpleType>
					<xsd:restriction base="etd:TRok">
						<xsd:minInclusive value="2020"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="Miesiac" type="etd:TMiesiac"/>
			<xsd:element name="CelZlozenia">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="etd:TKodUS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="VAT-UE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TNrVatUE">
		<xsd:annotation>
			<xsd:documentation>Numer Identyfikacyjny VAT kontrahenta UE</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(\d|[A-Z]|\+|\*){1,12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Deklaracja">
		<xsd:annotation>
			<xsd:documentation>INFORMACJA PODSUMOWUJĄCA O DOKONANYCH WEWNĄTRZWSPÓLNOTOWYCH TRANSAKCJACH I PRZEMIESZCZENIACH TOWARÓW W PROCEDURZE MAGAZYNU TYPU CALL-OFF STOCK</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek deklaracji</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="etd:TPodmiotDowolnyBezAdresu3">
								<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Podatnik"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PozycjeSzczegolowe">
					<xsd:annotation>
						<xsd:documentation>Informacja o wewnątrzwspólnotowych transakcjach i przemieszczeniach towarów w procedurze magazynu typu call-off stock</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Grupa1" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Informacja o wewnątrzwspólnotowych dostawach towarów</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="P_Da" type="kue:TKodKrajuUE">
											<xsd:annotation>
												<xsd:documentation>Kod kraju kontrahenta (nabywcy towaru)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Db" type="tns:TNrVatUE">
											<xsd:annotation>
												<xsd:documentation>Numer identyfikacyjny VAT kontrahenta (nabywcy towaru)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Dc">
											<xsd:annotation>
												<xsd:documentation>Łączna wartość transakcji w zł</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="etd:TKwotaC">
													<xsd:totalDigits value="12"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="P_Dd" type="etd:TWybor1_2">
											<xsd:annotation>
												<xsd:documentation>Określenie, czy pozycja dotyczy transakcji trójstronnych
	1 - pozycja nie dotyczy transakcji trójstronnych
	2 - pozycja dotyczy transakcji trójstronnych</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Grupa2" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Informacja o wewnątrzwspólnotowych nabyciach towarów</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="P_Na" type="kue:TKodKrajuUE">
											<xsd:annotation>
												<xsd:documentation>Kod kraju kontrahenta (dostawcy towaru)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Nb" type="tns:TNrVatUE">
											<xsd:annotation>
												<xsd:documentation>Numer identyfikacyjny VAT kontrahenta (dostawcy towaru)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Nc">
											<xsd:annotation>
												<xsd:documentation>Łączna wartość transakcji w zł</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="etd:TKwotaC">
													<xsd:totalDigits value="12"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
										<xsd:element name="P_Nd" type="etd:TWybor1_2">
											<xsd:annotation>
												<xsd:documentation>Określenie, czy pozycja dotyczy transakcji trójstronnych
	1 - pozycja nie dotyczy transakcji trójstronnych
	2 - pozycja dotyczy transakcji trójstronnych</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Grupa3" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Informacja o wewnątrzwspólnotowym świadczeniu usług</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="P_Ua" type="kue:TKodKrajuUE">
											<xsd:annotation>
												<xsd:documentation>Kod kraju kontrahenta (usługobiorcy)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Ub" type="tns:TNrVatUE">
											<xsd:annotation>
												<xsd:documentation>Numer identyfikacyjny VAT kontrahenta (usługobiorcy)</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Uc">
											<xsd:annotation>
												<xsd:documentation>Łączna wartość transakcji w zł</xsd:documentation>
											</xsd:annotation>
											<xsd:simpleType>
												<xsd:restriction base="etd:TKwotaC">
													<xsd:totalDigits value="12"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="Grupa4" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>Informacja o przemieszczeniach towarów w procedurze magazynu typu call-off stock na terytorium państwa członkowskiego inne niż terytorium kraju</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="P_Ca" type="kue:TKodKrajuUE">
											<xsd:annotation>
												<xsd:documentation>Kod kraju kontrahenta </xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="P_Cb" type="tns:TNrVatUE">
											<xsd:annotation>
												<xsd:documentation>Numer identyfikacyjny VAT kontrahenta</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:choice>
											<xsd:element name="P_Cc" type="tns:TNrVatUE">
												<xsd:annotation>
													<xsd:documentation>Numer identyfikacyjny VAT kontrahenta zastąpionego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_Cd" type="etd:TWybor1_2" default="1">
												<xsd:annotation>
													<xsd:documentation>Określenie, czy pozycja dotyczy powrotnego przemieszczenia
	1 - pozycja nie dotyczy powrotnego przemieszczenia
	2 - pozycja dotyczy powrotnego przemieszczenia</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:choice>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
					<xsd:unique name="kluczPozycjaDostawy">
						<xsd:selector xpath="tns:Grupa1"/>
						<xsd:field xpath="tns:P_Da"/>
						<xsd:field xpath="tns:P_Db"/>
						<xsd:field xpath="tns:P_Dd"/>
					</xsd:unique>
					<xsd:unique name="kluczPozycjaNabycia">
						<xsd:selector xpath="tns:Grupa2"/>
						<xsd:field xpath="tns:P_Na"/>
						<xsd:field xpath="tns:P_Nb"/>
						<xsd:field xpath="tns:P_Nd"/>
					</xsd:unique>
					<xsd:unique name="kluczPozycjaUslugi">
						<xsd:selector xpath="tns:Grupa3"/>
						<xsd:field xpath="tns:P_Ua"/>
						<xsd:field xpath="tns:P_Ub"/>
					</xsd:unique>
					<xsd:unique name="kluczPozycjaCallOff1">
						<xsd:selector xpath="tns:Grupa4"/>
						<xsd:field xpath="tns:P_Ca"/>
						<xsd:field xpath="tns:P_Cb"/>
						<xsd:field xpath="tns:P_Cc"/>
					</xsd:unique>
					<xsd:unique name="kluczPozycjaCallOff2">
						<xsd:selector xpath="tns:Grupa4"/>
						<xsd:field xpath="tns:P_Ca"/>
						<xsd:field xpath="tns:P_Cb"/>
						<xsd:field xpath="tns:P_Cd"/>
					</xsd:unique>
				</xsd:element>
				<xsd:element name="Pouczenie">
					<xsd:annotation>
						<xsd:documentation>Wartość 1 oznacza potwierdzenie zapoznania się z treścią i akceptację poniższego pouczenia:
								Za podanie nieprawdy lub zatajenie prawdy grozi odpowiedzialność przewidziana w Kodeksie karnym skarbowym.
								</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="etd:TKwota2Nieujemna">
							<xsd:minExclusive value="0"/>
							<xsd:maxExclusive value="2"/>
							<xsd:fractionDigits value="0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>