Hotel2Client/src/conf/xml-resources/web-service-references/Rezerwuj/wsdl/localhost_8080/Hotel2/Rezerwuj.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="getPokoje" type="tns:getPokoje"/>

<xs:element name="getPokojeResponse" type="tns:getPokojeResponse"/>

<xs:element name="getRezerwacje" type="tns:getRezerwacje"/>

<xs:element name="getRezerwacjeResponse" type="tns:getRezerwacjeResponse"/>

<xs:element name="getSessionFacade" type="tns:getSessionFacade"/>

<xs:element name="getSessionFacadeResponse" type="tns:getSessionFacadeResponse"/>

<xs:element name="init" type="tns:init"/>

<xs:element name="pokoj" type="tns:pokoj"/>

<xs:element name="rezerwacja" type="tns:rezerwacja"/>

<xs:element name="setPokoje" type="tns:setPokoje"/>

<xs:element name="setRezerwacje" type="tns:setRezerwacje"/>

<xs:element name="setSessionFacade" type="tns:setSessionFacade"/>

<xs:complexType name="getPokoje">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getPokojeResponse">
<xs:sequence>
<xs:element name="return" type="tns:pokoj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pokoj">
<xs:sequence>
<xs:element name="cena" type="xs:float"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idhotelu" type="xs:int"/>
<xs:element name="iloscosob" type="xs:int"/>
<xs:element name="standard" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setRezerwacje">
<xs:sequence>
<xs:element name="rezerwacje" type="tns:rezerwacja" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rezerwacja">
<xs:sequence>
<xs:element name="datado" type="xs:dateTime" minOccurs="0"/>
<xs:element name="dataod" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idklienta" type="xs:int"/>
<xs:element name="idpokoju" type="xs:int"/>
<xs:element name="koszt" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getRezerwacje">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRezerwacjeResponse">
<xs:sequence>
<xs:element name="return" type="tns:rezerwacja" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setSessionFacade">
<xs:sequence>
<xs:element name="sessionFacade" type="tns:sessionFacade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sessionFacade">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="setPokoje">
<xs:sequence>
<xs:element name="pokoje" type="tns:pokoj" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getSessionFacade">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getSessionFacadeResponse">
<xs:sequence>
<xs:element name="return" type="tns:sessionFacade" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="init">
<xs:sequence/>
</xs:complexType>
</xs:schema>