kadry/src/main/webapp/resources/xsd/pit4R12.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/" xmlns:tns="http://crd.gov.pl/wzor/2021/04/02/10568/" xmlns:zzu="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/25/eD/ORDZU/" targetNamespace="http://crd.gov.pl/wzor/2021/04/02/10568/" elementFormDefault="qualified" attributeFormDefault="unqualified" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/25/eD/ORDZU/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/25/eD/ORDZU/ORD-ZU(3)_v3-0E.xsd"/>
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/" schemaLocation="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2020/03/11/eD/DefinicjeTypy/StrukturyDanych_v6-0E.xsd"/>
	<!--Art. 35a ustawy został uchylony z dniem 26 października 2007 r. ustawą z dnia 24 sierpnia 2007 r. o zmianie ustawy o promocji zatrudnienia i instytucjach rynku pracy oraz o zmianie niektórych innych ustaw (Dz. U. poz. 1243). Uchylony przepis na mocy art. 7 ust. 7 powołanej ustawy ma zastosowanie do płatników do czasu obowiązywania umowy aktywizacyjnej zawartej przed dniem 26 października 2007 r.-->
	<!-- -->
	<!--W przypadku przedsiębiorstwa w spadku za dzień zaprzestania działalności uważa się dzień wygaśnięcia zarządu sukcesyjnego albo wygaśnięcia uprawnienia do powołania zarządcy sukcesyjnego, jeżeli zarząd sukcesyjny nie został ustanowiony i dokonano zgłoszenia, o którym mowa w art. 12 ust. 1c ustawy z dnia 13 października 1995 r. o zasadach ewidencji i identyfikacji podatników i płatników (Dz. U. z 2020 r. poz. 170).-->
	<!-- -->
	<!--Ilekroć w deklaracji jest mowa o urzędzie skarbowym, w tym urzędzie skarbowym, do którego adresowana jest deklaracja - oznacza to urząd skarbowy, przy pomocy którego właściwy dla płatnika naczelnik urzędu skarbowego wykonuje swoje zadania.-->
	<!-- -->
	<!--Zaliczki na podatek pomniejszone o składki na ubezpieczenie zdrowotne zgodnie z przepisami ustawy.-->
	<xsd:complexType name="TNaglowek">
		<xsd:annotation>
			<xsd:documentation>Nagłówek deklaracji</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="KodFormularza">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="tns:TKodFormularza">
							<xsd:attribute name="kodSystemowy" type="xsd:string" use="required" fixed="PIT-4R (12)"/>
							<xsd:attribute name="kodPodatku" type="xsd:string" use="required" fixed="PIT"/>
							<xsd:attribute name="rodzajZobowiazania" type="xsd:token" use="required" fixed="P"/>
							<xsd:attribute name="wersjaSchemy" type="xsd:string" use="required" fixed="1-0E"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="WariantFormularza">
				<xsd:simpleType>
					<xsd:restriction base="xsd:byte">
						<xsd:enumeration value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="CelZlozenia">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="etd:TCelZlozenia">
							<xsd:attribute name="poz" type="xsd:string" use="required" fixed="P_6"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Rok">
				<xsd:simpleType>
					<xsd:restriction base="etd:TRok">
						<xsd:minInclusive value="2021"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="KodUrzedu" type="etd:TKodUS"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TKodFormularza">
		<xsd:annotation>
			<xsd:documentation>Symbol wzoru formularza</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="PIT-4R"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TIdentyfikatorOsobyNiefizycznej">
		<xsd:annotation>
			<xsd:documentation>Podstawowy zestaw danych identyfikacyjnych o osobie niefizycznej</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NIP" type="etd:TNrNIP">
				<xsd:annotation>
					<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PelnaNazwa">
				<xsd:annotation>
					<xsd:documentation>Pełna nazwa</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:minLength value="1"/>
						<xsd:maxLength value="240"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TPodmiotDowolnyBezAdresu1">
		<xsd:annotation>
			<xsd:documentation>Skrócony zestaw danych o osobie fizycznej lub niefizycznej z identyfikatorem NIP</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="OsobaFizyczna" type="etd:TIdentyfikatorOsobyFizycznej2"/>
			<xsd:element name="OsobaNiefizyczna" type="tns:TIdentyfikatorOsobyNiefizycznej"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="Deklaracja">
		<xsd:annotation>
			<xsd:documentation>DEKLARACJA ROCZNA O ZALICZKACH NA PODATEK DOCHODOWY</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="tns:TNaglowek">
					<xsd:annotation>
						<xsd:documentation>Nagłówek deklaracji</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="Podmiot1">
					<!--W przypadku przedsiębiorstwa w spadku należy podać identyfikator podatkowy NIP zmarłego przedsiębiorcy-->
					<!-- -->
					<!--W przypadku przedsiębiorstwa w spadku należy podać dane identyfikacyjne zmarłego przedsiębiorcy z dodaniem oznaczenia „w spadku”.-->
					<xsd:complexType>
						<xsd:complexContent>
							<xsd:extension base="tns:TPodmiotDowolnyBezAdresu1">
								<xsd:attribute name="rola" type="xsd:string" use="required" fixed="Płatnik"/>
							</xsd:extension>
						</xsd:complexContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="PozycjeSzczegolowe">
					<xsd:annotation>
						<xsd:documentation>Wykaz należnych zaliczek na podatek dochodowy za poszczególne miesiące roku podatkowego, wyjaśnienie dotyczące wpłat</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="P_7" type="etd:TWybor1_2" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Rodzaj korekty. Wartość: 1 - korekta deklaracji, o której mowa w art. 81 Ordynacji podatkowej, 2 - korekta deklaracji składana w toku postępowania podatkowego w przypadku unikania opodatkowania, o której mowa w art. 81b § 1a Ordynacji podatkowej</xsd:documentation>
								</xsd:annotation>
								<!--Ilekroć w deklaracji jest mowa o Ordynacji podatkowej, oznacza to ustawę z dnia 29 sierpnia 1997 r. - Ordynacja podatkowa (Dz. U. z 2020 r. poz. 1325, z późn. zm.).-->
								<!-- -->
								<!--W przypadku wyboru w P_7 wartości 2 korektę składa się wraz z uzasadnieniem przyczyn korekty.-->
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>1. Zaliczki na podatek pobrane przez płatników, o których mowa w art. 31 i art. 42e ust. 1 ustawy, od dochodów wymienionych w tych przepisach</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_10" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c I</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_11" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c II</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_12" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c III</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_13" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c IV</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_14" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c V</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_15" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c VI</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_16" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_17" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_18" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_19" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_20" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_21" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_22" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c VII</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_23" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c VIII</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_24" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c IX</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_25" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c X</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_26" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c XI</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_27" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Liczba podatników za m-c XII</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="etd:TNaturalny">
											<xsd:minInclusive value="0"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>
								<xsd:element name="P_28" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_29" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_30" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_31" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_32" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_33" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>2. Zaliczki pobrane przez płatników, o których mowa w art. 33-35 ustawy, od dochodów wymienionych w tych przepisach</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_34" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_35" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_36" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_37" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_38" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_39" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_40" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_41" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_42" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_43" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_44" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_45" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>3. Zaliczki pobrane przez płatników, o których mowa w art. 41 ustawy, od świadczeń z tytułu działalności określonej w art. 13 pkt 2 i 4-9 oraz art. 18 ustawy</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_46" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_47" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_48" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_49" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_50" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_51" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_52" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_53" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_54" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_55" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_56" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_57" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Należne zaliczki za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>4. Zaliczki na podatek pobrane od innych należności, w tym wynikających z umowy aktywizacyjnej</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_58" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_59" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_60" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_61" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_62" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_63" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_64" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_65" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_66" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_67" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_68" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_69" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki pobrane za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>5. Suma pobranych zaliczek wykazanych w wierszach 1-4</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_70" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_71" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_72" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_73" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_74" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_75" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_76" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_77" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_78" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_79" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_80" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_81" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Suma pobranych zaliczek za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>6. Zaliczki na podatek, których pobór został ograniczony na podstawie art. 32 ust. 2 ustawy</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_82" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_83" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_84" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_85" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_86" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_87" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_88" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_89" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_90" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_91" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_92" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_93" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczka na podatek za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>7. Zaliczki, które przypadały do pobrania w związku z ograniczeniem poboru zaliczek w poprzednich miesiącach na podstawie art. 32 ust. 2 ustawy</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_94" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_95" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_96" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_97" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_98" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_99" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_100" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_101" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_102" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_103" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_104" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_105" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Zaliczki do pobrania za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>8. Dodatkowo pobrany podatek wynikający z rozliczenia za rok ubiegły</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_106" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dodatkowo pobrany podatek za I kwartał</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_107" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dodatkowo pobrany podatek za m-c II kwartał</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_108" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dodatkowo pobrany podatek za III kwartał</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_109" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Dodatkowo pobrany podatek za IV kwartał</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>9. Pobrany podatek, przekazany na PFRON oraz zakładowy fundusz rehabilitacji osób niepełnosprawnych albo zakładowy fundusz aktywności</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_110" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_111" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_112" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_113" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_114" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_115" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_116" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_117" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_118" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_119" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_120" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_121" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>10. Pobrany podatek do przekazania do urzędu skarbowego za poszczególne miesiące roku podatkowego</xsd:documentation>
								</xsd:annotation>
								<!--Od sumy kwot za poszczególne miesiące z wierszy 5, 7 i 8 należy odpowiednio odjąć sumę kwot z wierszy 6 i 9. Jeżeli różnica w danym miesiącu jest liczbą ujemną, należy wpisać 0.-->
								<xsd:element name="P_122" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_123" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_124" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_125" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_126" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_127" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_128" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_129" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_130" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_131" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_132" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_133" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Pobrany podatek za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>11. Wynagrodzenie z tytułu terminowego wpłacania podatku dochodowego za poszczególne miesiące, zgodnie z art. 28 Ordynacji podatkowej</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="P_134" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_135" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_136" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_137" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_138" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_139" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_140" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_141" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_142" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_143" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_144" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_145" type="etd:TKwotaCNieujemna" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Wynagrodzenie za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:annotation>
									<xsd:documentation>12. Należny podatek do wpłaty za poszczególne miesiące roku podatkowego</xsd:documentation>
								</xsd:annotation>
								<!--Od kwot za poszczególne miesiące z wiersza 10 należy odpowiednio odjąć kwoty z wiersza 11. Jeżeli różnica w danym miesiącu jest liczbą ujemną, należy wpisać 0.-->
								<xsd:element name="P_146" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c I</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_147" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c II</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_148" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c III</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_149" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c IV</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_150" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c V</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_151" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c VI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_152" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c VII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_153" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c VIII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_154" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c IX</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_155" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c X</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_156" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c XI</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_157" type="etd:TKwotaCNieujemna">
									<xsd:annotation>
										<xsd:documentation>Należny podatek do wpłaty za m-c XII</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
							<xsd:element name="P_158" type="etd:TTekstowy" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Wyjaśnienie różnicy pomiędzy kwotą pobranego podatku a kwotą wpłaconego podatku</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Informacja o przesunięciu terminu przekazania zaliczki na podatek</xsd:documentation>
								</xsd:annotation>
								<!--wybrać wartość 1 dla elementów odpowiadających miesiącom roku podatkowego, za który(e) płatnik skorzystał zgodnie z obowiązującymi przepisami z przesunięcia terminu przekazania zaliczek na podatek (nie dotyczy indywidualnych decyzji organu podatkowego)-->
								<xsd:element name="P_159" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za I (styczeń): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_160" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za II (luty): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_161" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za III (marzec): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_162" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za IV (kwiecień): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_163" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za V (maj): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_164" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za VI (czerwiec): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_165" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za VII (lipiec): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_166" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za VIII (sierpień): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_167" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za IX (wrzesień): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_168" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za X (październik): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_169" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za XI (listopad): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_170" type="etd:TWybor1" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>za XII (grudzień): 1 - tak</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="Pouczenia">
					<xsd:annotation>
						<xsd:documentation>Wartość 1 oznacza potwierdzenie zapoznania się z treścią i akceptację poniższego objaśnienia oraz pouczeń:
								Kwoty podatku i wynagrodzenia przysługującego płatnikom z tytułu terminowego wpłacenia podatku dochodowego zaokrągla się zgodnie z art. 63 Ordynacji podatkowej.

W przypadku niewpłacenia w obowiązującym terminie kwot z poz. od 146 do 157 lub wpłacenia ich w niepełnej wysokości niniejsza deklaracja stanowi podstawę do wystawienia tytułu wykonawczego, zgodnie z art. 3a § 1 pkt 1 ustawy z dnia 17 czerwca 1966 r. o postępowaniu egzekucyjnym w administracji (Dz. U. z 2020 r. poz. 1427, z późn. zm.).
Za uchybienie obowiązkom płatnika grozi odpowiedzialność przewidziana w Kodeksie karnym skarbowym.
								</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="etd:TKwota2Nieujemna">
							<xsd:minExclusive value="0"/>
							<xsd:maxExclusive value="2"/>
							<xsd:fractionDigits value="0"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				<xsd:element name="Zalaczniki" minOccurs="0">
					<xsd:complexType>
						<xsd:sequence minOccurs="0">
							<xsd:element ref="zzu:Zalacznik_ORD-ZU" minOccurs="0"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>