npkpir_23/src/conf/xml-resources/web-service-references/WsKadryFakturaPozycja/wsdl/localhost_8080/kadry/WsKadryFakturaPozycja.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p6 (FISH-5811-df8dba8; 2021-12-02T15:42:59+0000) JAXWS-RI/2.3.2.payara-p4 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="kadryfakturapozycjamcrok" type="tns:kadryfakturapozycjamcrok"/>

<xs:element name="kadryfakturapozycjamcrokResponse" type="tns:kadryfakturapozycjamcrokResponse"/>

<xs:complexType name="kadryfakturapozycjamcrok">
<xs:sequence>
<xs:element name="nip" type="xs:string" minOccurs="0"/>
<xs:element name="rok" type="xs:string" minOccurs="0"/>
<xs:element name="mc" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="kadryfakturapozycjamcrokResponse">
<xs:sequence>
<xs:element name="return" type="tns:wierszFaktury" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="wierszFaktury">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="ilosc" type="xs:double"/>
<xs:element name="kwota" type="xs:double"/>
<xs:element name="mc" type="xs:string" minOccurs="0"/>
<xs:element name="nip" type="xs:string" minOccurs="0"/>
<xs:element name="opis" type="xs:string" minOccurs="0"/>
<xs:element name="rok" type="xs:string" minOccurs="0"/>
<xs:element name="nazwa" type="xs:string" minOccurs="0"/>
<xs:element name="symbolwaluty" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>