trunk/Hotel2Client/src/conf/xml-resources/web-service-references/Rezerwuj/wsdl/localhost_8080/Hotel2/Rezerwuj.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="Rezerwuj">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:8080/Hotel2/Rezerwuj?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="setSessionFacade">
<part name="parameters" element="tns:setSessionFacade"/>
</message>
<message name="getSessionFacade">
<part name="parameters" element="tns:getSessionFacade"/>
</message>
<message name="getSessionFacadeResponse">
<part name="parameters" element="tns:getSessionFacadeResponse"/>
</message>
<message name="getRezerwacje">
<part name="parameters" element="tns:getRezerwacje"/>
</message>
<message name="getRezerwacjeResponse">
<part name="parameters" element="tns:getRezerwacjeResponse"/>
</message>
<message name="setRezerwacje">
<part name="parameters" element="tns:setRezerwacje"/>
</message>
<message name="setPokoje">
<part name="parameters" element="tns:setPokoje"/>
</message>
<message name="getPokoje">
<part name="parameters" element="tns:getPokoje"/>
</message>
<message name="getPokojeResponse">
<part name="parameters" element="tns:getPokojeResponse"/>
</message>
<portType name="Rezerwuj">
<operation name="init">
<input wsam:Action="http://webservice/Rezerwuj/init" message="tns:init"/>
</operation>
<operation name="setSessionFacade">
<input wsam:Action="http://webservice/Rezerwuj/setSessionFacade" message="tns:setSessionFacade"/>
</operation>
<operation name="getSessionFacade">
<input wsam:Action="http://webservice/Rezerwuj/getSessionFacadeRequest" message="tns:getSessionFacade"/>
<output wsam:Action="http://webservice/Rezerwuj/getSessionFacadeResponse" message="tns:getSessionFacadeResponse"/>
</operation>
<operation name="getRezerwacje">
<input wsam:Action="http://webservice/Rezerwuj/getRezerwacjeRequest" message="tns:getRezerwacje"/>
<output wsam:Action="http://webservice/Rezerwuj/getRezerwacjeResponse" message="tns:getRezerwacjeResponse"/>
</operation>
<operation name="setRezerwacje">
<input wsam:Action="http://webservice/Rezerwuj/setRezerwacje" message="tns:setRezerwacje"/>
</operation>
<operation name="setPokoje">
<input wsam:Action="http://webservice/Rezerwuj/setPokoje" message="tns:setPokoje"/>
</operation>
<operation name="getPokoje">
<input wsam:Action="http://webservice/Rezerwuj/getPokojeRequest" message="tns:getPokoje"/>
<output wsam:Action="http://webservice/Rezerwuj/getPokojeResponse" message="tns:getPokojeResponse"/>
</operation>
</portType>
<binding name="RezerwujPortBinding" type="tns:Rezerwuj">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setSessionFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getSessionFacade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRezerwacje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setRezerwacje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="setPokoje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getPokoje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Rezerwuj">
<port name="RezerwujPort" binding="tns:RezerwujPortBinding">
<soap:address location="http://localhost:8080/Hotel2/Rezerwuj"/>
</port>
</service>
</definitions>